version: "3.2"

services:
  confd:
    build: ./confd
    volumes:
      - ./confd/target:/target
      - ~/.aws:/root/.aws
    environment:
      - AWS_PROFILE

  affinity:
    build: .
    ports:
      - "8080:80"
    volumes:
      - type: bind
        source: ./confd/target/.env
        target: /var/www/.env
        read_only: true
